# DO NOT include azure-functions-worker in this file
# The Python Worker is managed by Azure Functions platform
# Manually managing azure-functions-worker may cause unexpected issues

azure-functions==1.7.0
azure-identity==1.6.0
azure-keyvault-secrets==4.3.0
requests==2.31.0