# DO NOT include azure-functions-worker in this file
# The Python Worker is managed by Azure Functions platform
# Manually managing azure-functions-worker may cause unexpected issues

azure-functions==1.6.0
boto3==1.9.180
requests==2.22.0
python-dateutil==2.8.2
azure-storage-file-share==12.5.0
typing-extensions==4.0.0