azure-functions==1.21.3
azure-functions-durable==1.2.10
azure-storage-file-share==12.15.0
azure-data-tables==12.7.0
azure-identity==1.19.0
azure-monitor-query==1.4.0
azure-monitor-ingestion==1.0.4
requests==2.32.4