# DO NOT include azure-functions-worker in this file
# The Python Worker is managed by Azure Functions platform
# Manually managing azure-functions-worker may cause unexpected issues

# from ./Data Connectors folder
# pip install -r requirements.txt --target .python_packages/lib/site-packages/

azure-functions
certifi>=2022.12.07
greynoise==2.0.1
msal==1.23.0
stix2>=3.0.1
requests-ratelimiter>=0.4.0
