# DO NOT include azure-functions-worker in this file
# The Python Worker is managed by Azure Functions platform
# Manually managing azure-functions-worker may cause unexpected issues

azure-functions
certifi>=2025.6.15
greynoise==3.0.1
redis==6.2.0
msal==1.32.3
stix2>=3.0.1
requests-ratelimiter>=0.7.0
cryptography>=44.0.1 # not directly required, pinned by Snyk to avoid a vulnerability
