azure-functions==1.18.0
azure-identity==1.15.0
azure-monitor-ingestion==1.0.3
azure-data-tables==12.5.0
azure-storage-file-share==12.15.0
azure-keyvault-secrets==4.7.0
requests==2.31.0
tenacity==8.2.3
