# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners,
# the last matching pattern has the most precendence.

# Core team members
* @liemilyg @mgladi @orco365 @shalinoid @KobyKoren @lizamash @morshabi @shainw @ianhelle @timbMSFT @juliango2100 @dicolanl @Amitbergman @sagamzu @YaronFruchtmann @preetikr @Yaniv-Shasha @sarah-yo @nazang @ehudk-msft @oshvartz

# This is copied from here: https://help.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners

/Playbooks/   @dicolanl @KobyKoren @Yaniv-Shasha @sarah-yo
/Workbooks/   @Amitbergman
