# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners,
# the last matching pattern has the most precedence

# All up code owners - this should be limited to a select few - if specific code owner is needed, add to the specific folders below

* @Amitbergman @aprakash13 @ashwin-patil @oshezaf @petebryan @preetikr @sagamzu @shainw @thmcelro @YaronFruchtmann

# This is copied from here: https://help.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners

/.script/ @oshvartz
/ASIM/ @oshezaf @YaronFruchtmann
/DataConnectors/ @NoamLandress @shschwar @ashishsyal
/Detections/ @timbMSFT @juliango2100 @oshezaf
/Hunting%20Queries/ @timbMSFT
/Notebooks/ @ianhelle
/Parsers/ @oshezaf @ashishsyal @YaronFruchtmann
/Playbooks/ @dicolanl @Yaniv-Shasha @sarah-yo @sreedharande @lior-tamir
/Workbooks/ @nazang @alexkarabas
/Solutions/ @ashishsyal
/Solutions/HoneyTokens @haneuvir
/Solutions/SAP @udidekel @tamirkopitz
