# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners,
# Global owners need to be listed first, example - * @account1 @account2
# After global, order is important, the last matching pattern per folder has the most precedence

# All up code owners - this should be limited to a select few - if specific code owner is needed, add to the specific folders below

* @Azure/sentinel-repo-admins @Azure/sentinel-repo-reviewers

# This is copied from here: https://help.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners

/.script/ @Azure/sentinel-repo-admins @Azure/sentinel-repo-reviewers
/DataConnectors/ @Azure/sentinel-repo-connectors-reviewers @Azure/sentinel-repo-admins @Azure/sentinel-repo-reviewers
/Detections/ @Azure/sentinel-repo-hunt-detection-reviewers @Azure/sentinel-repo-admins @Azure/sentinel-repo-reviewers
/Hunting\ Queries/ @Azure/sentinel-repo-hunt-detection-reviewers @Azure/sentinel-repo-admins @Azure/sentinel-repo-reviewers
/Notebooks/ @Azure/sentinel-repo-books-reviewers @Azure/sentinel-repo-admins @Azure/sentinel-repo-reviewers
/Parsers/ @Azure/sentinel-repo-tools-reviewers @Azure/sentinel-repo-admins @Azure/sentinel-repo-reviewers
/Playbooks/ @Azure/sentinel-repo-books-reviewers @Azure/sentinel-repo-admins @Azure/sentinel-repo-reviewers
/Workbooks/ @Azure/sentinel-repo-books-reviewers @Azure/sentinel-repo-admins @Azure/sentinel-repo-reviewers
/Solutions/HoneyTokens/ @haneuvir
/Solutions/SAP/ @udidekel
/Solutions/ @Azure/sentinel-repo-solution-reviewers @Azure/sentinel-repo-admins @Azure/sentinel-repo-reviewers
