{
    "excludecontentfiles": [
        "deploy.json",
        "Excessive login attempts.json",
        "package-lock.json",
        "package.json",
        "tsconfig.json",
        ".script",
        ".vscode",
        "ASIM",
        "dashboards",
        "dataconnectors",
        "docs",
        "exploration queries",
        "functions",
        "logos",
        "Sample Data",
        "solutions",
        "tools",
        "watchlists",
        "parsers",
        "Workbooks",
        "Playbooks/Block-ExchangeIP/azuredeploy.json",
        "Playbooks/CiscoASA/CustomConnector/CiscoASA-swagger.json",
        "Playbooks/CiscoFirepower/CustomConnector/CiscoFirepower-swagger.json",
        "Playbooks/Advanced-SNOW-Teams-Integration/parametersFile.json",
        "Playbooks/Affected-Key-Credentials-CVE-2021-42306/azuredeploy.json",
        "Playbooks/AzureFirewall/azuredeploy.json",
        "Playbooks/Create-IBMResilientIncident/alert-trigger/azuredeploy.json",
        "Playbooks/Create-IBMResilientIncident/customConnector/swagger.json",
        "Playbooks/Create-IBMResilientIncident/incident-trigger/azuredeploy.json",
        "Playbooks/F5BigIP/linkedTemplate.json",
        "Playbooks/ForcepointNGFW/LinkedTemplate.json",
        "Playbooks/Fortinet-FortiGate/FunctionApp/azuredeploy.json",
        "Playbooks/Fortinet-FortiGate/azuredeploy.json",
        "Playbooks/Get-AlertEntitiesEnrichment/parameters.json",
        "Playbooks/Get-GeoFromIpAndTagIncident/alert-trigger/azuredeploy.json",
        "Playbooks/Get-GeoFromIpAndTagIncident/customConnector/swagger.json",
        "Playbooks/Get-GeoFromIpAndTagIncident/incident-trigger/azuredeploy.json",
        "Playbooks/Get-VirusTotalURLReport/alert-trigger/azuredeploy.json",
        "Playbooks/HaveIBeenPwned/azuredeploylinkedtemplate.json",
        "Playbooks/Move-LogAnalytics-to-Storage/azuredeploy.json",
        "Playbooks/PaloAlto-PAN-OS/Playbooks/PaloAlto-PAN-OS-GetThreatPCAP/azuredeploy.json",
        "Playbooks/PaloAlto-Wildfire/azuredeploylinkedTemplate.json",
        "Playbooks/Resolve-McasInfrequentCountryAlerts/parameters.json",
        "Playbooks/Run-MDEAntivirus/alert-trigger/azuredeploy.json",
        "Playbooks/Save-NamedLocations/azuredeploy.json",
        "Playbooks/Send-AzCommunicationsSMSMessage/alert-trigger/azuredeploy.json",
        "Playbooks/Send-AzCommunicationsSMSMessage/incident-trigger/azuredeploy.json",
        "Playbooks/Sync-IncidentsWithJIRA/Sync-Comments/azuredeploy.json",
        "Playbooks/Zscaler/Add-IP-To-Category/deployboth.json",
        "Playbooks/Zscaler/Add-Url-To-Category/deployboth.json",
        "Playbooks/Zscaler/Authentication/azuredeploy.json",
        "Playbooks/Zscaler/Get-Sandbox-Report-For-Hash/deployboth.json",
        "Playbooks/Zscaler/Url-Category-Lookup/deployboth.json",
        "Playbooks/Zscaler/azuredeploy.json",
        "Playbooks/Zscaler-add-Domains-to-URL-Category/azuredeploy.json",
        "Playbooks/Fortinet-FortiGate/Playbooks/Fortinet_IncidentEnrichment/azuredeploy.json",
        "Playbooks/Get-MDEInvestigationPackage/alert-trigger/azuredeploy.json",
	    "Playbooks/Get-MDEInvestigationPackage/incident-trigger/azuredeploy.json",
        "Playbooks/Remove-MDEAppExecution/alert-trigger/azuredeploy.json"
   ]
}