{
    "excludecontentfiles": [
        "deploy.json",
        "Excessive login attempts.json"
        "package-lock.json",
        "package.json",
        "tsconfig.json",
        ".script",
        ".vscode",
        "ASIM",
        "dashboards",
        "dataconnectors",
        "docs",
        "exploration queries",
        "functions",
        "logos",
        "Sample Data",
        "solutions",
        "tools",
        "watchlists"
    ]
}