# DO NOT include azure-functions-worker in this file
# The Python Worker is managed by Azure Functions platform
# Manually managing azure-functions-worker may cause unexpected issues

azure-functions

pyjwt==2.4.0
cryptography==41.0.4
boxsdk==3.3.0
azure-storage-file-share==12.7.0
python-dateutil==2.8.2