# DO NOT include azure-functions-worker in this file
# The Python Worker is managed by Azure Functions platform
# Manually managing azure-functions-worker may cause unexpected issues

azure-functions

pyjwt==2.0.0
cryptography==3.3.1
boxsdk==2.11.0
azure-storage-file-share==12.3.0
python-dateutil