# DO NOT include azure-functions-worker in this file
# The Python Worker is managed by Azure Functions platform
# Manually managing azure-functions-worker may cause unexpected issues

azure-storage-blob==12.8.0
azure-data-tables==12.4.1
aiohttp==3.8.0
azure-functions==1.6.0
gzip_stream
pandas==1.5.2
aiobotocore
azure-storage-file-share==12.5.0