# DO NOT include azure-functions-worker in this file
# The Python Worker is managed by Azure Functions platform
# Manually managing azure-functions-worker may cause unexpected issues

azure-functions==1.23.0
azure-identity==1.23.1
azure-keyvault-secrets==4.10.0
azure-core==1.35.0