azure-core==1.29.5
azure-functions==1.17.0
azure-storage-file-share==12.3.0
certifi==2023.7.22
cffi==1.16.0
charset-normalizer==3.3.1
cryptography==42.0.4
idna==3.4
isodate==0.6.1
msrest==0.7.1
oauthlib==3.2.2
pycparser==2.21
PyJWT==2.8.0
python-dateutil==2.8.1
requests==2.31.0
requests-oauthlib==1.3.1
six==1.16.0
typing_extensions==4.8.0
urllib3==2.0.7
