# DO NOT include azure-functions-worker in this file
# The Python Worker is managed by Azure Functions platform
# Manually managing azure-functions-worker may cause unexpected issues

azure-data-tables==12.6.0
azure-functions==1.7.2
azure-functions-durable==1.0.3
pyTenable==1.7.4
requests==2.32.3
azure-identity
azure-monitor-ingestion