id: 0f94fa3c-7e4c-4c3f-9e49-2ce7c3441f0c
Function:
  Title: Parser to extract Web Applications alerts from Cyble Vision Alerts
  Version: '1.0.0'
  LastUpdated: '2025-12-09'
Category: Microsoft Sentinel Parser
FunctionName: Alerts_web_applications
FunctionAlias: Alerts_web_applications
FunctionQuery: |
  CybleVisionAlerts_CL
  | where Service == "web_applications"
  | extend Data = parse_json(Data)
  | extend Data = (Data.data)
  // Extract nested web application fields
  | extend
      WA_AppID            = tostring(Data.app_id),
      WA_Confidence       = tostring(Data.confidence),
      WA_Favicon          = tostring(Data.favicon),
      WA_FirstSeen        = tostring(Data.first_seen_on),
      WA_LastSeen         = tostring(Data.last_seen_on),
      WA_Host_Nested      = tostring(Data.host),
      WA_Path             = tostring(Data.path),
      WA_Port_Nested      = tostring(Data.port),
      WA_Severity_Nested  = tostring(Data.severity),
      WA_Title_Nested     = tostring(Data.['title']),
      WA_URL              = tostring(Data.url),
      WA_IPs              = tostring(Data.ip),
      WA_IsBehindWAF      = tostring(Data.is_behind_waf),
      WA_IsCDN            = tostring(Data.is_cdn),
      WA_IsVHost          = tostring(Data.is_vhost)
  // Standard risk pack
  | extend Risk_Score = pack("s", RiskScore_s, "e", RiskScore_e, "c", RiskScore_c)
  // Final projection
  | project
      TimeGenerated,
      AlertID = tostring(ID),
      EntityID,
      KeywordName,
      CompanyID,
      Status,
      Severity,
      UserSeverity,
      BucketID,
      Domain,
      BucketName,
      TruePositive,
      LLMProcessed,
      LLMExplanation,
      IP,
      Service,
      Risk_Score,
      WA_AppID,
      WA_Confidence,
      WA_Favicon,
      WA_FirstSeen,
      WA_LastSeen,
      WA_Host_Nested,
      WA_Path,
      WA_Port_Nested,
      WA_Severity_Nested,
      WA_Title_Nested,
      WA_URL,
      WA_IPs,
      WA_IsBehindWAF,
      WA_IsCDN,
      WA_IsVHost,
      Data,
      Tags
