# DO NOT include azure-functions-worker in this file
# The Python Worker is managed by Azure Functions platform
# Manually managing azure-functions-worker may cause unexpected issues

azure-functions
certifi>=2022.12.07
greynoise==2.0.1
redis==4.4.4
msal==1.23.0
stix2>=3.0.1
requests-ratelimiter>=0.4.0