{
  "IsEncrypted": false,
  "Values": {
    "AzureWebJobsStorage": "UseDevelopmentStorage=true",
    "FUNCTIONS_WORKER_RUNTIME": "python",
    "AZURE_TENANT_ID": "<your-azure-ad-tenant-id>",
    "AZURE_CLIENT_ID": "<your-app-registration-client-id>",
    "AZURE_CLIENT_SECRET": "<your-app-registration-client-secret>",
    "KEYVAULT_URL": "https://<your-keyvault-name>.vault.azure.net/",
    "PUBLISHER_ID": "qcryptoninc1788706847984"
  }
}
