# Do not include azure-functions-worker in this file
# The Python Worker is managed by the Azure Functions platform
# Manually managing azure-functions-worker may cause unexpected issues

requests==2.32.2
azure-functions==1.19.0
responses==0.25.0
pytest==8.2.0
aiohttp==3.10.2
python-dateutil==2.9.0.post0
