attrs<=18.2.0
bokeh<=1.0.4
dnspython<=1.16.0
folium<=0.7.0
holoviews<=1.10.7
ipwhois<=1.1.0
ipywidgets>=7.4.2
ipython>=7.2.0
Kqlmagic<=0.1.91
matplotlib<=3.0.0
maxminddb<=1.4.1
maxminddb-geolite2<=2018.703
msticpy<=0.0.66
networkx<=2.2
numpy>=1.15.4
pandas<=0.24.1
requests<=2.21.0
scikit-learn<=0.20.2
seaborn<=0.9.0
typing>=3.6.6
urllib3>=1.24.1
