<html>
<head>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/vis/4.16.1/vis.css" type="text/css" />
<script src="https://requirejs.org/docs/release/2.1.8/comments/require.js"></script>
  
<style type="text/css">

        #mynetwork {
            width: 900px;
            height: 900px;
            background-color: #ffffff;
            border: 1px solid lightgray;
            position: relative;
            float: left;
        }

        

        

        
</style>

</head>

<body>
<div id = "mynetwork"></div>


<script type="text/javascript">
  require(["https://unpkg.com/vis-network@latest/dist/vis-network.min.js"], function(vis) {

    // initialize global variables.
    var edges;
    var nodes;
    var network; 
    var container;
    var options, data;

    
    // This method is responsible for drawing the graph, returns the drawn network
    function drawGraph() {
        var container = document.getElementById('mynetwork');
        
        

        // parsing and collecting nodes and edges from the python
        nodes = new vis.DataSet($NODES);
        edges = new vis.DataSet($EDGES);

        // adding nodes and edges to the graph
        data = {nodes: nodes, edges: edges};

        var options = {
    width: '100%',
    hover: true,
    configurePhysics: false,
    height: '100%',
    edges: {
        color: 'green',
        arrows: 'to',
        type: 'vee',
        width: 2
    },
    groups: {
        User: {
            shape: 'dot',
            color: {
                border: '#401155',
                background: '#9974AA',
                highlight: {
                    background: '#794A8D',
                    fontColor: '#280339',
                    border:'#280339'
                }
            },
            fontColor: '#401155',
            fontSize: 2,
            value: 11
        },
        AzureSubscription: {
            shape: 'dot',
            color: {
                border: '#4C7513',
                background: '#C9EA9C',
                highlight: {
                    border: '#2D4E00',
                    background: '#9AC361',
                    fontColor: '#2D4E00'
                }
            },
            fontColor: '#4C7513',
            fontSize: 2,
            value: 7
        },
        ServicePrincipal: {
            shape: 'dot',
            color: {
                border: '#506D15',
                background: '#9BD5D4',
                highlight: {
                    border: '#774600',
                    fontColor: '#774600',
                    background: '#5BEBE9'
                }
            },
            fontColor: '#774600',
            fontSize: 2,
            value: 9
        },
        Group: {
            shape: 'dot',
            color: {
                border: '#806D15',
                background: '#AA9639',
                highlight: {
                    border: '#554600',
                    fontColor: '#554600',
                    background: '#D4C26A'
                }
            },
            fontColor: '#554600',
            fontSize: 2,
            value: 9
        }
    }
};
        

        network = new vis.Network(container, data, options);

        
network.on('hoverNode', function (properties) {
    var node = nodes.get(properties.node);
    network.selectNodes([properties.node]);
    $$('#info').html(node.label);
});

        

        return network;

    }

    drawGraph();
  });
</script>
</body>
</html>