# DO NOT include azure-functions-worker in this file
# The Python Worker is managed by Azure Functions platform
# Manually managing azure-functions-worker may cause unexpected issues

azure-functions==1.21.3
azure-identity==1.17.1
azure-monitor-ingestion==1.0.4
cryptography==41.0.7
