# DO NOT include azure-functions-worker in this file
# The Python Worker is managed by the Azure Functions platform
# Manually managing azure-functions-worker may cause unexpected issues

azure-storage-file-share==12.24.0
azure-functions==1.24.0
requests==2.34.2
azure-monitor-ingestion==1.1.0
azure-identity==1.25.3
azure-keyvault-secrets==4.9.0
