# DO NOT include azure-functions-worker in this file
# The Python Worker is managed by Azure Functions platform
# Manually managing azure-functions-worker may cause unexpected issues

azure-functions==1.23.0
azure-cosmosdb-table==1.0.6
azure-storage-queue==12.12.0
requests==2.32.3
python-dateutil==2.8.2
pyjwt==2.10.1
pydantic==1.10.22
azure-identity==1.21.0
azure-keyvault-secrets==4.9.0
retry2==0.9.5
pytz==2025.2
orjson==3.10.18
azure-data-tables==12.6.0
python-json-logger==0.1.11
freezegun==1.5.1
urllib3==1.26.20
