# DO NOT include azure-functions-worker in this file
# The Python Worker is managed by Azure Functions platform
# Manually managing azure-functions-worker may cause unexpected issues

azure-functions==1.6.0
requests
azure-core==1.19.0
azure-storage==0.36.0
azure-data-tables==12.1.0
azure-cosmos==4.2.0
azure-cosmosdb-table==1.0.6
cryptography==39.0.1