{
  "swagger": "2.0",
  "info": {
    "title": "IP-API",
    "description": "IP-API Geolocation API",
    "version": "1.0"
  },
  "host": "ip-api.com",
  "basePath": "/json",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [],
  "paths": {
    "/{ipaddress}": {
      "get": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "query": {
                  "type": "string",
                  "description": "query"
                },
                "status": {
                  "type": "string",
                  "description": "status"
                },
                "country": {
                  "type": "string",
                  "description": "country"
                },
                "countryCode": {
                  "type": "string",
                  "description": "countryCode"
                },
                "region": {
                  "type": "string",
                  "description": "region"
                },
                "regionName": {
                  "type": "string",
                  "description": "regionName"
                },
                "city": {
                  "type": "string",
                  "description": "city"
                },
                "zip": {
                  "type": "string",
                  "description": "zip"
                },
                "lat": {
                  "type": "number",
                  "format": "float",
                  "description": "lat"
                },
                "lon": {
                  "type": "number",
                  "format": "float",
                  "description": "lon"
                },
                "timezone": {
                  "type": "string",
                  "description": "timezone"
                },
                "isp": {
                  "type": "string",
                  "description": "isp"
                },
                "org": {
                  "type": "string",
                  "description": "org"
                },
                "as": {
                  "type": "string",
                  "description": "as"
                }
              }
            }
          }
        },
        "summary": "Query IP",
        "operationId": "Query",
        "parameters": [
          {
            "name": "ipaddress",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ]
      }
    }
  },
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {},
  "security": [],
  "tags": []
}