id: 594dafa1-e2d5-4f83-b32e-c629cb629b6f
name: KMS Server Settings Updated
description: Detects when KMS server settings are updated in Veeam Backup & Replication.
  This might indicate configuration changes that require review.
severity: High
status: Available
requiredDataConnectors:
- connectorId: Syslog
  dataTypes:
  - Syslog
- connectorId: SyslogAma
  dataTypes:
  - Syslog
queryFrequency: 5m
queryPeriod: 5m
triggerOperator: gt
triggerThreshold: 0
eventGroupingSettings:
  aggregationKind: AlertPerResult
tactics:
- DefenseEvasion
relevantTechniques:
- T1562.001
query: "Veeam_GetSecurityEvents\n| where instanceId == 42302\n| extend Name = extract(\"\
  Name=\\\"([^\\\"]*)\\\"\", 1, SyslogMessage)\n| project\n    Date = format_datetime(TimeGenerated,\
  \ 'dd.MM.yyyy HH:mm'),\n    DataSource = original_host,\n    EventId = instanceId,\n\
  \    [\"Obeject Name\"] = Name,\n    MessageDetails = Description,\n   Severity\
  \ = SeverityDescription"
version: 1.0.0
kind: Scheduled
customDetails:
  Date: Date
  VbrHostName: DataSource
  EventId: EventId
  MessageDetails: MessageDetails
  Severity: Severity
