azure-core==1.30.0 ; python_version == "3.12"
azure-data-tables==12.4.4 ; python_version == "3.12"
azure-identity==1.15.0 ; python_version == "3.12"
azure-monitor-ingestion==1.0.3 ; python_version == "3.12"
azure-storage-file-share==12.13.0 ; python_version == "3.12"
black==25.1.0 ; python_version == "3.12"
certifi==2024.7.4 ; python_version == "3.12"
cffi==1.16.0 ; python_version == "3.12" and platform_python_implementation != "PyPy"
charset-normalizer==3.3.2 ; python_version == "3.12"
click==8.1.7 ; python_version == "3.12"
colorama==0.4.6 ; python_version == "3.12" and platform_system == "Windows"
cryptography==43.0.1 ; python_version == "3.12"
idna==3.7 ; python_version == "3.12"
isodate==0.6.1 ; python_version == "3.12"
msal-extensions==1.1.0 ; python_version == "3.12"
msal==1.26.0 ; python_version == "3.12"
multidict==6.0.5 ; python_version == "3.12"
mypy-extensions==1.0.0 ; python_version == "3.12"
packaging==23.2 ; python_version == "3.12"
pathspec==0.12.1 ; python_version == "3.12"
platformdirs==4.2.0 ; python_version == "3.12"
portalocker==2.8.2 ; python_version == "3.12"
pycparser==2.21 ; python_version == "3.12" and platform_python_implementation != "PyPy"
pyjwt==2.8.0 ; python_version == "3.12"
pywin32==306 ; python_version == "3.12" and platform_system == "Windows"
requests==2.31.0 ; python_version == "3.12"
six==1.16.0 ; python_version == "3.12"
typing-extensions==4.9.0 ; python_version == "3.12"
urllib3==2.6.3 ; python_version == "3.12"
yarl==1.9.4 ; python_version == "3.12"
