azure-functions
boto3
requests
adal
aiohttp
asn1crypto
azure-common
azure-core
botocore
cryptography==3.4.8
pyasn1
pyasn1-modules
cffi
pyOpenSSL
version-utils==0.2.2
wheel==0.38.1
zope.interface==4.1.1
azure-identity