# DO NOT include azure-functions-worker in this file
# The Python Worker is managed by Azure Functions platform
# Manually managing azure-functions-worker may cause unexpected issues

azure-functions==1.8.0
boto3==1.9.180
requests==2.22.0
adal==1.2.2
aiohttp==3.6.2
asn1crypto==0.24.0
azure-common==1.1.24
azure-core==1.21.0
botocore==1.12.10
cryptography==41.0.0
pyasn1==0.4.2
pyasn1-modules==0.2.1
cffi==1.14.6
pyOpenSSL==17.5.0
pycrypto==2.6.1
version-utils==0.2.2
wheel==0.38.1
zope.interface==4.1.1
azure-identity==1.7.1