<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<solution>
		<clear />
		<add key="disableSourceControlIntegration" value="true" />
	</solution>
	<config>
		<clear />
		<add key="defaultPushSource" value="https://artifactory.varonis.com/artifactory/api/nuget/nuget-local-8x" />
		<add key="globalPackagesFolder" value="globalpackages" />
	</config>
	<packageSources>
		<clear />
		<add key="nuget-local-8x" value="https://artifactory.varonis.com/artifactory/api/nuget/nuget-local-8x" />
		<add key="nuget-local-external" value="https://artifactory.varonis.com/artifactory/api/nuget/nuget-local-external" />
		<add key="nuget-webda-infra" value="https://artifactory.varonis.com/artifactory/api/nuget/nuget-webda-infra" />
	</packageSources>
</configuration>
