# DO NOT include azure-functions-worker in this file
# The Python Worker is managed by Azure Functions platform
# Manually managing azure-functions-worker may cause unexpected issues

aiohttp==3.8.5
azure-functions==1.6.0
azure-storage-file-share==12.4.1
python-dateutil==2.8.2
