# DO NOT include azure-functions-worker in this file
# The Python Worker is managed by Azure Functions platform
# Manually managing azure-functions-worker may cause unexpected issues

aiohttp==3.13.3
azure-functions==1.20.0
azure-storage-file-share==12.21.0
python-dateutil==2.9.0
cryptography==46.0.5