# DO NOT include azure-functions-worker in this file
# The Python Worker is managed by Azure Functions platform
# Manually managing azure-functions-worker may cause unexpected issues

azure-functions==1.17.0
requests==2.31.0
azure-identity==1.14.0
azure-monitor-ingestion==1.0.2
azure-storage-file-share==12.14.1
