# DO NOT include azure-functions-worker in this file
# The Python Worker is managed by Azure Functions platform
# Manually managing azure-functions-worker may cause unexpected issues

cryptography==41.0.7
azure-functions
azure-storage-blob
azure-identity
azure-keyvault-secrets
azure-monitor-ingestion
requests