{
  "IsEncrypted": false,
  "Values": {
    "AzureWebJobsStorage": "UseDevelopmentStorage=true",
    "FUNCTIONS_WORKER_RUNTIME": "python",
    "WHOISFREAKS_API_KEY": "",
    "CHECKPOINT_STORAGE_ACCOUNT": "",
    "DCR_INGESTION_ENDPOINT": "https://your-dce.ingest.monitor.azure.com",
    "DCR_IMMUTABLE_ID": "dcr-",
    "WHOISFREAKS_FEED_MALWARE_ENABLED": "true",
    "WHOISFREAKS_FEED_PHISHING_ENABLED": "false",
    "WHOISFREAKS_FEED_SPAM_ENABLED": "false",
    "WHOISFREAKS_FEED_NRD_GTLD_WITH_WHOIS_ENABLED": "false",
    "WHOISFREAKS_FEED_NRD_CCTLD_WITH_WHOIS_ENABLED": "false",
    "WHOISFREAKS_FEED_NRD_GTLD_WITHOUT_WHOIS_ENABLED": "false",
    "WHOISFREAKS_FEED_NRD_CCTLD_WITHOUT_WHOIS_ENABLED": "false"
  }
}
