# Uncomment to enable Azure Monitor OpenTelemetry
# Ref: aka.ms/functions-azure-monitor-python
# azure-monitor-opentelemetry

azure-functions>=1.21.3,<2.0.0
azure-storage-blob>=12.24.0,<13.0.0
azure-identity>=1.19.0,<2.0.0
azure-monitor-ingestion>=1.0.4,<2.0.0
requests>=2.32.3,<3.0.0
