# DO NOT include azure-functions-worker in this file
# The Python Worker is managed by Azure Functions platform
# Manually managing azure-functions-worker may cause unexpected issues

azure-functions==1.17.0
azure-functions-durable==1.2.6
boto3==1.28.67
requests==2.31.0
