# DO NOT include azure-functions-worker in this file
# The Python Worker is managed by Azure Functions platform
# Manually managing azure-functions-worker may cause unexpected issues

aiohttp==3.8.6
aiosignal==1.3.1
astor==0.8.1
astroid==2.9.3
async-timeout==4.0.3
attrs==23.1.0
autopep8==1.7.0
azure-functions==1.17.0
azure-functions-durable==1.2.6
bandit==1.7.5
bcrypt==4.0.1
beautifulsoup4==4.12.2
boto3==1.28.67
botocore==1.31.67
bracex==2.4
cachetools==5.3.1
certifi==2023.7.22
cffi==1.16.0
chardet==5.2.0
charset-normalizer==3.3.0
click==8.1.7
colorama==0.4.6
coloredlogs==15.0.1
commonmark==0.9.1
ConfigArgParse==1.7
configparser==5.3.0
coverage==7.3.2
cryptography==36.0.2
dateparser==1.1.8
decorator==5.1.1
demisto-py==3.2.13
demisto-sdk==1.20.7
dictdiffer==0.9.0
dictor==0.1.12
docker==5.0.3
docopt==0.6.2
exceptiongroup==1.1.3
flatten-dict==0.4.2
freezegun==1.2.2
frozenlist==1.4.0
furl==2.1.3
future==0.18.3
gitdb==4.0.10
GitPython==3.1.41
giturlparse==0.10.0
google-api-core==2.12.0
google-auth==2.23.3
google-cloud-core==2.3.3
google-cloud-storage==2.11.0
google-crc32c==1.5.0
google-resumable-media==2.6.0
googleapis-common-protos==1.60.0
grpcio==1.59.0
humanfriendly==10.0
idna==3.4
imagesize==1.4.1
importlib-resources==5.13.0
inflection==0.5.1
iniconfig==2.0.0
isort==5.12.0
jmespath==1.0.1
joblib==1.3.2
jsonschema==4.19.1
jsonschema-specifications==2023.7.1
junitparser==3.1.0
klara==0.6.3
lazy-object-proxy==1.9.0
mccabe==0.6.1
mergedeep==1.3.4
more-itertools==9.1.0
multidict==6.0.4
mypy==0.982
mypy-extensions==1.0.0
neo4j==5.13.0
networkx==2.8.8
nltk==3.8.1
ordered-set==4.1.0
orderedmultidict==1.0.1
orjson==3.9.8
packaging==23.2
paramiko==2.12.0
pbr==5.11.1
Pebble==5.0.3
platformdirs==3.11.0
pluggy==1.3.0
prettytable==3.9.0
protobuf==4.24.4
pyasn1==0.5.0
pyasn1-modules==0.3.0
pycodestyle==2.11.0
pycparser==2.21
pydantic==1.10.13
Pygments==2.16.1
pykwalify==1.8.0
pylint==2.12.2
PyNaCl==1.5.0
PyPDF2==1.28.6
pyspellchecker==0.6.3
pytest==7.4.2
pytest-freezegun==0.4.2
python-dateutil==2.8.2
python-dotenv==0.20.0
pytz==2023.3.post1
pytz-deprecation-shim==0.1.0.post0
PyYAML==6.0.1
referencing==0.30.2
regex==2023.10.3
requests==2.31.0
rich==12.6.0
rpds-py==0.10.6
rsa==4.9
ruamel.yaml==0.17.35
ruamel.yaml.clib==0.2.8
s3transfer==0.7.0
shellingham==1.5.3
six==1.16.0
slack-sdk==3.23.0
smmap==5.0.1
soupsieve==2.5
stevedore==5.1.0
tabulate==0.9.0
tenacity==8.2.3
toml==0.10.2
tomli==2.0.1
tqdm==4.66.1
typed-ast==1.5.5
typer==0.7.0
types-chardet==5.0.4.6
types-cryptography==3.3.23.2
types-dateparser==1.1.4.10
types-decorator==5.1.8.4
types-emoji==2.1.0.3
types-filelock==3.2.7
types-futures==3.3.8
types-ipaddress==1.0.8
types-Markdown==3.5.0.0
types-mock==4.0.15.2
types-paramiko==2.12.0.1
types-pkg-resources==0.1.3
types-protobuf==3.20.4.6
types-PyMySQL==1.1.0.1
types-python-dateutil==2.8.19.14
types-pytz==2022.7.1.2
types-pyvmomi==8.0.0.6
types-PyYAML==6.0.12.12
types-requests==2.28.11
types-setuptools==67.8.0.0
types-six==1.16.21.9
types-tabulate==0.9.0.3
types-ujson==5.8.0.1
types-urllib3==1.26.25.14
typing_extensions==4.8.0
tzdata==2023.3
tzlocal==4.3.1
ujson==5.8.0
urllib3==1.26.17
vulture==2.10
wcmatch==8.5
wcwidth==0.2.8
websocket-client==1.6.4
wrapt==1.13.3
yamlordereddictloader==0.4.2
yarl==1.9.2
z3-solver==4.12.2.0
