# DO NOT include azure-functions-worker in this file
# The Python Worker is managed by Azure Functions platform
# Manually managing azure-functions-worker may cause unexpected issues

azure-functions
azure-functions-durable
boto3
requests==2.31.0
pytest
pytest-mock
requests-mock
dateparser
