# DO NOT include azure-functions-worker in this file
# The Python Worker is managed by Azure Functions platform
# Manually managing azure-functions-worker may cause unexpected issues

azure-functions
azure-identity==1.15.0
azure-storage-blob==12.19.0
azure-monitor-ingestion==1.0.3
requests==2.31.0