{
  "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
  "type": "Microsoft.OperationalInsights/workspaces/tables",
  "apiVersion": "2022-10-01",
  "name": "[concat(parameters('workspaceName'), '/{{TABLE_NAME}}_CL')]",
  "properties": {
    "schema": {
      "name": "{{TABLE_NAME}}_CL",
      "columns": [
        {
          "name": "TimeGenerated",
          "type": "datetime",
          "description": "Event timestamp"
        },
        {
          "name": "{{COLUMN_1_NAME}}",
          "type": "{{COLUMN_1_TYPE}}",
          "description": "{{COLUMN_1_DESCRIPTION}}"
        },
        {
          "name": "{{COLUMN_2_NAME}}",
          "type": "{{COLUMN_2_TYPE}}",
          "description": "{{COLUMN_2_DESCRIPTION}}"
        }
      ]
    },
    "retentionInDays": 90,
    "plan": "Analytics"
  }
}
