# ADD P0 LABEL IF THE PULL REQUEST IS FROM EXTERNAL PUBLISHER I.E ISV'S
name: "Pull Request Labeler"

on:  
 pull_request:
    branches:
      - main
      - master
    paths:
      - Solutions/**

jobs:
  solutionNameDetails:
    uses: ./.github/workflows/getSolutionName.yaml
    secrets: inherit

  solutionPublisherDetail:
    needs: solutionNameDetails
    uses: ./.github/workflows/neworexistingsolution.yaml
    if: ${{ success() && needs.solutionNameDetails.outputs.solutionName != '' }} 
    with: 
      solutionName: ${{ needs.solutionNameDetails.outputs.solutionName }}
    secrets: inherit

  Labeler:
    runs-on: ubuntu-latest
    needs: solutionPublisherDetail
    permissions:
      contents: read
      pull-requests: write
    if: ${{success() && !contains(fromJson(vars.INTERNAL_PUBLISHERS),needs.solutionPublisherDetail.outputs.solutionPublisherId)}}
    steps:
      - name: Add Label Notification
        uses: actions/github-script@29423367f079522048aa7c63f671593b0556ffd5
        with:
          script: |
            github.rest.issues.addLabels({
              issue_number: context.issue.number,
              owner: context.repo.owner,
              repo: context.repo.repo,
              labels: ['P0']
            })
