name: Arm-ttk Validations

on:
  pull_request:
    paths:
      - 'Solutions/**/mainTemplate.json'
      - 'Solutions/**/createUiDefinition.json'

permissions:
  contents: read
  pull-requests: read

jobs:
  run-arm-ttk:
    runs-on: ubuntu-latest
    outputs:
      solutionName: ${{ steps.step1.outputs.solutionName }}
      mainTemplateChanged: ${{ steps.step1.outputs.mainTemplateChanged }}
      createUiChanged: ${{ steps.step1.outputs.createUiChanged }}
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          fetch-depth: 10
      - shell: pwsh
        id: step1
        name: Identify Changes in PR
        run: |
          try {
            Set-PSRepository PSGallery -InstallationPolicy Trusted
            Install-Module powershell-yaml -Force
            ./.script/package-automation/arm-ttk-tests.ps1
          }
          catch {
            Write-Error "Failed to run ARM-TTK tests: $_"
            exit 1
          }

      - uses: docker/build-push-action@4f58ea79222b3b9dc2c8bbdd6debcef730109a75 # v6.9.0
        id: publishGithubPackage
        name: Run ARM-TTK
        if: ${{ success() && steps.step1.outputs.solutionName != '' && (steps.step1.outputs.mainTemplateChanged == 'true' || steps.step1.outputs.createUiChanged == 'true') }}
        with:
          context: .
          file: ./.github/actions/Dockerfile
          push: false
          provenance: false
          build-args: |
            SolutionName=${{ steps.step1.outputs.solutionName }}
            mainTemplateChanged=${{ steps.step1.outputs.mainTemplateChanged }}
            createUiChanged=${{ steps.step1.outputs.createUiChanged }}
